<main></main>
<p id="notice"></p>
        <div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
  		<h1>Editing Book</h1>
  	<% if @book.errors.any? %>
      <%= @book.errors.count %>errors prohibited this obj from being saved:
      <% @book.errors.full_messages.each do |message| %>
        <%= message %>
      <% end %>
     <% end %>
  <div class="form-group">
<%= form_with model:@book, local:true do |f| %>
  <div class="form-group">
  <label for="inputtitle">Title</label>
  <%= f.text_field :title, autofocus: true, id:"inputtitle"%></div>
  <div class="form-group">
  <label for="inputopinion">Opinion</label>
  <%= f.text_field :body, autofocus: true, id:"inputBody"%></div>
  <%= f.submit "Update Book" %></td>
<% end %>

<td><%= link_to "Show", book_path %></td>
 |
<td><%= link_to "Back", books_path %></td>
</main>
        
        